/*

*/
*{
    /*estas propiedas es para que si pones que un div mida x px y despues le quieres poner un padding, un border size..etc, 
    pues que no se sume a la medida que querias para el div; sin esto el div se agrandaria el x del padding k pongas 
    o x de border size etc.*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#proximosconciertos{
      background-color: #c9b18d;
    display: inline-block;
    float: right;
    height: 295px;
    margin: 0 20px;
    padding-left: 0;
    width: 46%;
}
#buscarlocales{
   width: 48%;
    padding: 10px;
    float: left;
    text-align:  center;
    display: inline-block;
    background-color: #c9b18d;
    margin: 10px;
    height: 690px;  
 }
 #enviarsolicitudes{
     height: 100%;
     width: 100%;
     background-color:  antiquewhite; 
     display:  inline-block;
     float: left;
 }
 #titulo{
     height: 80px;
     width: 100%;
     color:  black;
     background-color:  antiquewhite; 
     font-family: Tw Cen MT;
    font-size: 30px; 
    padding-top: 35px;
 }