body {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
  background-color: #e6e6e5;
}
@font-face {
    font-family: oldtown;    /* Nom que li volem posar a la font */
    src: url(fonts/OldTown.ttf);     /* url de la fuente guardada en el servidore */
    /* A la hora de aplicar la fuente solo hace falta que pongamos el nombre que le hemos dado */
}
h1 {
    font-size: 100px;
    font-family: oldtown;
    color: black;
}
hr
{
  border-color: #000000;
}
#logo{
  width: 50px;
  height: 50px;
}
#cerrarsesion
{
  margin: 13px;
  margin-bottom: 0;
  height: 70%;
}
.formalert { color: red; }
.justified {
  text-align: justify;
}
.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */ 
  width: 100%; /* Set width to 100% */
  margin: auto;
}
.carousel-caption h3 {
  color: #fff !important;
}
@media (max-width: 600px) {
.carousel-caption {
  display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
}
}
.nav-tabs li a {
  color: #777;
}
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.container {
    color: black;
    margin-bottom: 100px;
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
}
.dropdown-menu li a:hover {
  background-color: red !important;
}
.input-group input {
  border-radius: 100px;
}
.input-group div button {
  border-radius: 100px;
}