@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700);

body{
    background:#e9eaed;
	}
    
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}

#header{
	border:1px solid #ddd;
	margin-bottom:20px;
	}
	
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  border-radius: 0;
  font-size: 11px;
  letter-spacing: 4px;
  opacity: 1;
}
	
.navbar-brand
{
    width:160px;
    height:160px;
    float:left;
    padding:0;
    margin-top:-130px;
    overflow:hidden;
    border:3px solid #eee;
    margin-left:15px;
    background:#333;
    text-align:center;
    line-height:160px;
    color:#fff !important;
    font-size:2em;
    -webkit-transition:  all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out ;
}
	
	
.user-name{
	color:#fff;
	font-size:2.4em;
	float:left;
	margin-top:-65px !important;
	margin-left:15px;
        font-family: 'Open Sans Condensed', sans-serif, sans-serif;

	}	

.main-menu{
	position:absolute;
	left:190px;
	}
	
.slider, .carousel{
	max-height:360px;
	overflow:hidden;
	}
	
.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
position: absolute;
top: 50%;
font-size:2em;
z-index: 5;
display: inline-block;
}

.carousel-control{
	background-color:transparent;
	background-image:none !important;
	}
	
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  background-color:transparent !important;
  background-image:none !important;
  outline: 0;
}

.input-group input {
  border-radius: 100px;
}
.input-group div button {
  border-radius: 100px;
}